/* CSS for Vertical Timeline */
.timeline-container {
  position: relative;
  padding: 2rem 0;
  margin-left: 1rem;
}

.timeline-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 15px;
  height: 100%;
  width: 4px;
  background: #000; /* A light grey color */
}

.timeline-event {
  position: relative;
  margin-bottom: 2rem;
  margin-left: 40px;
  padding: 1rem;
  border: 1px solid #e9ecef;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.timeline-event::before {
  content: '';
  position: absolute;
  left: -34px;
  top: 1rem;
  width: 21px;
  height: 21px;
  background-image: url("images/plus-circle.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.timeline-event.active::before {
  background-image: url("images/minus-circle.svg");
}

.timeline-event h3 {
  margin-top: 0;
  color: firebrick; /* A blue color */
  position: relative;
}

.timeline-content {
  display: none;
  padding-top: 10px;
}
.timeline-controls {
  margin-bottom: 1rem;
}